@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 300;
  @apply tracking-wider;
}

@layer base {
  h1 {
    @apply text-2xl;
  }

  @screen md {
    h1 {
      @apply text-3xl;
    }
  }
}

@layer base {
  h2 {
    @apply text-2xl;
  }

  @screen md {
    h2 {
      @apply text-2xl;
    }
  }
}

@layer base {
  h3 {
    @apply text-xl;
  }

  @screen md {
    h3 {
      @apply text-xl;
    }
  }
}


/****** Page Container *******/
.pc {
  @apply pl-4 pr-4;
}

@screen sm {
  .pc {
    @apply sm:pl-10 sm:pr-10
  }
}
@screen md {
  .pc {
    @apply md:pl-32 md:pr-32
  }
}
@screen lg {
  .pc {
    @apply lg:pl-40 lg:pr-40
  }
}
@screen xl {
  .pc {
    @apply xl:pl-56 xl:pr-56
  }
}


.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  outline: none;
  @apply text-zinc-400;

}

.swiper .swiper-button-prev:after,
.swiper .swiper-button-next:after {
  @apply text-2xl;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  min-height: 90vh;
  @screen md {
    min-height: auto;
    align-items: end;
  }
}

